<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>257E757E4F8B8887E2671A0DAFFBB49E16F01EBE</string>
				<key>dateExpires</key>
				<string>04/09/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>257E757E4F8B8887E2671A0DAFFBB49E16F01EBE</string>
						<key>dateExpires</key>
						<string>04/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45BJ68Q222</string>
						<key>name</key>
						<string>Carlos Henrique Zinato</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>45BJ68Q222.com.carlos.poi</string>
				<key>com.apple.developer.team-identifier</key>
				<string>45BJ68Q222</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>45BJ68Q222.com.carlos.poi</string>
				</array>
			</dict>
			<key>name</key>
			<string>poi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3bcec79e-91cd-447f-b424-b57c2e8cc57c</string>
				<key>name</key>
				<string>CarlosPoi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>45BJ68Q222</string>
				<key>name</key>
				<string>Carlos Henrique Zinato</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
